version: "3.9"

services:
  api:
    container_name: upload-api
    build: .
    ports:
      - "3020:3020"
    volumes:
      - .:/app
      - ./uploads:/app/uploads
    environment:
      - NODE_ENV=development
    restart: unless-stopped
